*{
    margin: 0;
    font-family: 'Merriweather', serif;
}

html, body{
    width: 100%;
    height: 100%;
    background: whitesmoke;
}

header{
    width: 100%;
    height: 88%;
    background-image: url("../img/header.jpeg");
    background-size: cover;
    text-align: center;
}

.header-snapshot{
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(32px);
}

header h1{
    font-size: 5rem;
    padding-top: 0.332rem;
}
@media (max-width: 988px) {
    header h1{
        font-size: 4rem;
        padding-top: 0.2rem;
    }
}
@media (max-width: 788px) {
    header h1{
        font-size: 3.332rem;
        padding-top: 0.1rem;
    }
}
@media (max-width: 288px) {
    header h1{
        font-size: 2rem;
        padding-top: 0.05rem;
    }
}

header p{
    font-size: 1.5rem;
}

header #open-closed, header h1{
    text-shadow: 0px 0px 32px white;
}

.open-color{
    color: darkgreen;
    font-weight: bold;
    text-shadow: 0px 0px 2px lightgreen;
}

.closed-color{
    color: darkred;
    font-weight: bold;
    text-shadow: 0px 0px 2px lightcoral;
}

#footer-info-placeholder{
    margin-top: 1.25rem;
}

noscript{
    width: 100%;
    text-align: center;
}
noscript p{
    background: red;
    color: yellow;
    font-size: 1.5rem;
    font-weight: bold;
    position: absolute;
    top: 46%;
    right: 4%;
    left: 4%;
}

.blink {
    animation: blinkAnim 1s linear infinite;
  }
@keyframes blinkAnim {
    50% {
        opacity: 0;
    }
}

nav{
    text-align: center;
    font-size: 5rem;
    margin-top: -7.5rem;
    margin-bottom: 2.25rem;

    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-content: space-between;
}
@media (max-width: 988px) {
    nav{
        flex-direction: column;
        align-content: center;
        font-size: 4rem;
        margin-top: -15.5rem;
    }
}
@media (max-width: 288px) {
    nav{
        flex-direction: column;
        align-content: center;
        font-size: 2.25rem;
        margin-top: -10.5rem;
    }
}

nav a{
    font-weight: bold;
    color: whitesmoke;
    text-shadow: 0px 0px 16px darkslategrey;
    text-decoration: none;

    flex-grow: 1;
    flex-basis: 33.332%;
}

nav a:hover{
    color: darkslategrey;
    text-decoration: underline;
    font-style: italic;
    text-shadow: 0px 0px 16px white;
}



/* CONTENT 
#contentLeague, #contentCosmic, #contentOpen{
    display: none;
}*/



footer{
    text-align: center;
}

#footer-info{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-content: space-between;
    padding-bottom: 0.332rem;
}

#footer-info div{
    font-size: 1.5rem;
    flex-grow: 1;
    flex-basis: 33.332%;
}

#footer-info div a{
    text-decoration: none;
    color: darkslategrey;
}

#footer-info div a:hover{
    cursor: pointer;
    text-decoration: underline;
    color: grey;
    font-style: italic;
}

#location, #hours, #contact{
    margin-bottom: -0.88rem;
}

footer a:hover{
    text-decoration: underline;
    font-style: normal;
    font-weight: bold;
}

#footer-note{
    font-style: italic;
}